.container
{
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items:flex-end;
    flex-direction: column;
}
.heading{
    background-color: black;
    width: 900px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading h2{
    color: whitesmoke;
}
.signup-card{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
    justify-content:center;
    align-items: center;
    background-color: rgb(189, 194, 194);
}

.signup-card form{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: beige;
}





