
.container {
    min-height: 200px;
    width: 30vw;
    min-width: 350px;
    max-width: 550px;
    border: 1px solid rgba(255, 255, 255, 0.538);
    border-radius: 20px;
    color: white;
    background: #00000042;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.quote::before {
    content: open-quote;
    font-size: 3rem;
}

.quote::after {
    content: close-quote;
    font-size: 30px;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 30px;
}

.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    position: relative;
    /* right: 50px; */
}

.author {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.479);
}

.like,
.comment,
.share {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}