.container{
    height: 200px;
    width: 600px;
    border: 2px solid  rgba(255, 255, 255, 0.129);
    border-radius: 20px;
    color: white;
    background: #00000042;
    display: flex;
    justify-content: center;
    align-items: center;
}