#nav-bar{
    display: flex;
    padding: 1%;
    width:98%;
    min-width: 600px;
    font-size: 30px;
    justify-content: space-between;
    align-items: center;
    background: #40019a;
}
#logo{
    margin: 5px;
    color: whitesmoke;
}

#nav-list{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.nav-btn{
    text-decoration: none;
    margin: 5px;
    color: whitesmoke;
}

.active{
    font-size: 1.2em;
}