#footer{
    display: flex;
    padding: 1%;
    width:98%;
    min-width: 600px;
    font-size: 30px;
    justify-content: space-between;
    align-items: center;
    background: #40019a;
}

#footer h2{
    margin: 5px;
    color: whitesmoke;
}